<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css"/>
	<link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
	<title>Virtual Burger Eating</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/eat_burger.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
